/* reset do css */
* {
    margin: 0;
    padding: 0;
}

/* limitar a largura da seção sobre e galeria de fotos */

.limitar-largura {
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

/*Estilização do topo e do rodape*/

.topo, .rodape {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    background: #ff8014;
    color: #fff;
    font-size: 20px;
    opacity: 60%;
}

/*Estilização da família de fonte de toda a página*/

body {
    font-family: sans-serif;
}

/*Estililzação da seção sobre*/

.sobre {
    width: calc(100% - 70px);
    overflow: scroll;
    height: 315px ;
}

/* Estilizando a largura da galeria*/

.galeria {
    width: calc(100% - 70px);
}

/*Definindo a margem da área de todo o conteúdo*/
.area {
    margin: 20px 35px;
}
/* Definindo a largura e margem dos paragrafo e das três imagens*/
.area p, .area-tres-imagens {
    width: 100%;
    margin: 15px 0;
}

/*Definimos o display e colocamos um scroll vertical para a rolagem de fotos da galeria*/
.area-tres-imagens {
    display: flex;
    overflow-x: scroll;
}

/* Definindo a largura e a margem da galeria de imagem*/


.galeria img {
    width: calc((100% / 3) - 3px);
    margin: 0 1.5px;
}